body {
	background: #313131;
	font-family: "Helvetica Nueue", Helvetica, Arial, sans-serif;
}

ul.marquee {
	width: 98%;
	height: 42px;
	margin: 15px auto;
	background-color: transparent;
	color: white;
	border: none;
}

ul.marquee li {
	font-size: 32px;
}

ul.marquee span.from_user {
	color: #4996d7;
}

div#twitter span.tweet
span.from_user {
	color: #5e7ad7;
}

div#twitter a {
	color: #4c8dd2;
}

div#weather {
	width: 30%;
	padding: 40px 20px;
	border-radius: 4px;
	text-align: center;
	
	color: white;
	background: -webkit-linear-gradient(#565656 0%, #404040 100%);
	border: 1px solid #292929;
}

div#weather span {
	margin: 0 auto;
	font-size: 4em;
}

div#weather img {
	margin: 20px auto;
	display: block;
}